#container {
    height: 600px;
    width: 500px;
    border: solid 20px;
    padding: 20px;
    border-radius: 5%;
    background-color: rgb(71, 124, 142);
    display: grid;
}

.center {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    grid-column: span 4;
    border: solid;
    margin: 8px;
    border-radius: 15px;
    background-color: rgb(162, 225, 225);
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    font-size: 70px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    margin-bottom: 10px;
}

.button {
    align-items: center;
    text-align: center;
    border-radius: 15px;
    font-size: 50px;
    background-color: rgb(147, 217, 217);
}

.button:hover {
            background-color: #699aad;
        }
        
        .button:active {
            background-color: #364a55;
        }